@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  margin: 0;
}

* {
  font-family: Inter;
  scroll-behavior: smooth;
}

#sushi-logo {
  margin: 0 -100px -5px 0px;
}


#nav-div {
  display: flex;
  padding: 0;
  margin-top: -10px;
}
.black {
  filter: invert(0%) sepia(90%) saturate(7459%) hue-rotate(347deg) brightness(90%) contrast(110%);
}
.white {
  filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(102%) contrast(103%);
}

.black-anchor {
  color: black;
  text-shadow: 0px 0px 0px black;


}

#logo {
  width: 200px;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;

}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  gap: 70px;
  padding: 15px;
}

nav div a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-shadow: 0px 0px 1px black;
  cursor: pointer;
}

a {
  cursor: pointer;
}



                                              /* HERO  */
#hero-section {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  margin: 0;
  /* border: 2px solid red; */
  box-sizing: border-box;

}



#hero-div {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/hero-sushi.png");
  background-size: contain;
  background-position: 80px;
  /* background-color: black; */
  /* width: 100%; */
  height: 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
  box-sizing: border-box;

}

#hero-text  {
  box-sizing: border-box;
  max-width: 600px;
  margin-left: 40px;
  margin-top: 180px;
  color: rgb(255, 255, 255);
  /* border: 2px solid blue; */
  letter-spacing: 2px;
}

#hero-text h1 {
  font-size: 42px;
  margin: 0;
  font-weight: 600;
}

#hero-text h3 {
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: 400;

}


#menu-section {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(#000000 0%, #1C1C1C 63%, #FF6110 100%); 
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#menu-section h1{
  margin: 0;
  color: white;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;

}

#menu-section #card-container {
  /* border: 2px solid red; */
  min-width: 900px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  row-gap: 40px;
  margin-top: 35px;
}

.sushi-img-container {
  position: relative;
  top: -55px;
}
.sushi-img-container img {
  width: 190px;
  margin: 0;
  /* border: 2px solid red; */
}


.card {
  color: white;
  border: 2px solid #FF6110;
  border-radius: 20px;
  width: 200px;
  display: flex;
  height: 230px;
  flex-direction: column;
  align-items: center;
  padding: 0 10px ;
  box-sizing: border-box;
  background-color: #1C1C1C;
}

.card .sushi-text {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  top: -70px;
  /* border: 1px solid blue; */

}

.sushi-text * {
  margin: 0;
}

.sushi-text p {
  font-size: 10px;
}
.sushi-text h3 {
  font-size: 15px;
}

.sushi-text h4 {
  font-size: 13px;
  color: #FF6110;
}

.card button {
  margin: 0;
  position: relative;
  top: -50px;
  width: 50px;
  border-radius: 20px;
  border: none;
  padding: 5px;
  background-color: #FF6110;
}
.card button:hover, #menu-section #voir-plus-btn:hover {
  cursor: pointer;
  background-color: #da5310; 
}


#menu-section #voir-plus-btn {
  width: 160px;
  border-radius: 100px;
  border: none;
  background-color: #FF6110;
  color: white;
  font-size: 17px;
  padding: 10px;
}

#contact-section {
  height: 100vh;
  background-color: #FF6110;
}

.map-container {
  width: 480px;
  height: 480px;
  border-radius: 60px;
  border: 20px solid black;
  background-color: black;
  border-radius: -20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

}

iframe {
  width: 440px;
  height: 440px;
  border-radius: 40px;
  margin: 0;
  box-sizing: border-box;
  border: none;
}


#contact-div {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-top: 100px;
  padding-right: 60px;
  padding-left: 30px;

  /* gap: 50px; */
}

.contact-text {
  border-bottom: 3px solid black;
  height: 480px;
  width: 480px;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px
}

.contact-text h1 {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 10px;
}

.contact-address, .contact-telephone  {
  display: flex;
  gap: 6px;
}

.contact-address p, .contact-telephone p {
  margin: 0;
  font-weight: 500;
}

.contact-telephone i {
  font-size: 25px;
}

.contact-address i {
  font-size: 30px;
}